p.speech{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color:black;
}
p.stagedirection{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color:black;
    background-color: lightskyblue;
}
.name{
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    color:black;
}
.stagedirection:hover{
    background-color: gray;
    color: white;
}
.HAR{
    color:blueviolet;
}
.CLE{
    color:coral;
}
.JAC{
    color:red;
}
.table,
td{
  border: 1px solid black;
  border-collapse: collapse;  
  text-align: left;
  color: red;
  padding: 8px;
  margin: 10px;
}
th{
  border: 2px solid black;
  text-align: center;
  background-color: bisque;
  padding: 5px;
  margin: 10px;
}
tr:nth-child(even) {
  background-color: lightblue;
}  